.page::after {
  position: absolute;
  
}

.title {
  grid-area: 1/1/1/1;
  justify-self: center;
  max-width: 750px;
  min-height: 408px;
  padding-top: 60px;
  font-size: 116px;
  line-height: 136px;
  letter-spacing: 0.035em;
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.title::after{
  position: absolute;
  content: '*';
  background: none;
}

.page__title:hover::before {
  content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
  position: absolute;
  top: 182px;
  right: 22px;
  z-index: 1;
  border-radius: 20px;
  padding: 36px 44px;
  box-shadow: 0 12px 0 2px black, 0 0 0 2px black;
  font-weight: normal;
  font-size: 35px;
  line-height: 100%;
  letter-spacing: normal;
  text-align: left;
  text-transform: none;
  background-color: white;
  white-space: pre;
}
